# work directories containing files -- no need to store on git
/txt/*
/text/
/raw/*
/text-normalization
/nltk-trainer

# customisable file
/core/init.py

# cache
/core/__pycache__/*
/core/skills
/core/wiki
/core/*.txt
/django/seek/__pycache__/*

# seek environment should be recreated at every pull
/seek-env/

# temp files
.*.swp
.*.swo
.DS_Store

# compiled files
*.pyc
