# work directories containing files -- no need to store on git
/txt/*
/raw/*
/text-normalization
/nltk-trainer

# customisable file
/core/init.py

# cache
/core/__pycache__/*
/django/seek/__pycache__/*

# seek environment should be recreated at every pull
/seek-env/
/seek-env/core/skills
# temp files
.*.swp
.*.swo
.DS_Store

# compiled files
*.pyc
