<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Seek</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/lightbox.css" %}">
  <link rel="stylesheet" href="{% static "css/seek.css" %}">

  <!-- Icons (FontAwesome and favicon)
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="{% static "images/seek.png" %}">

  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{% static "js/functions.js" %}"></script>
  

  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.1.0/annyang.min.js"></script>
  <script src="{% static "js/audio_recording.js" %}"></script>
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script>


</head>

{% if mood_var == 'happy' %}
<body onload="changeMood('happy')">
{% elif mood_var == 'sad' %}
<body onload="changeMood('sad')">
{% elif mood_var == 'thinking' %}
<body onload="changeMood('thinking')">
{% else %}
<body onload="changeMood('neutral')">
{% endif %}

  <section id="home">
  <!-- Home section - always appears! -->
    <div class="row">
      <!-- Seek Almighty -->
      <div id="eyewrappper"> <!-- will be resizing -->
        <div class="col-lg-12"><div id="eye" class="neutral">&nbsp;</div>
        </div>
      </div>
    </div>


    <!-- confirmation after uploading file -->
    <div class="row" id="answer">
      <div class="col-lg-4 col-lg-push-2" >
	<p>{{ confirmation }}</p>
      </div>
    </div>

    <!-- query and upload box -->
    <div class="row" id="query">
      <div class="col-lg-2 col-lg-push-2" id="buttons">
        <!-- two images as buttons -->
        <span class="btn btn-lg fa fa-upload" id="upload"></span>
        <div id="littlebox" style="display:none">
          <form action=""  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ docform }}
            <input type="submit" value="Upload" />
          </form>
        </div>
        <span class="btn btn-lg fa fa-microphone" id="input-toggle" onclick="toggleInput();"></span>
      </div>

      <div class="col-lg-4 col-lg-push-2" >
        <!-- input box -->
        <span class="input-group" id="question">
	  <form action="" id="id_query_form"  method="post">
	    {% csrf_token %}
   	    {{ queryform  }}
	  </form>
          <span class="btn btn-lg fa fa-volume-up"></span>
          <input onclick='
           
            var utterance = new SpeechSynthesisUtterance("{{ answer }}");


            window.speechSynthesis.speak(utterance);
          ' type='button' value='Play' />
        </span>
      </div>
    </div>

  </section>

  <div class="wrapper">
    <section id="result" class="full">
      <div class="row" id="answer">
        <br>
        <p>{{ answer }}</p>
      </div>

      {% if answer_display == 'none' %}
        <div class="row" id="options" style="display:none">
      {% elif mood_var == 'block' %}
        <div class="row" id="options" style="display:block">
      {% endif %}
        <div class="col-lg-12">
          <a href="#more"><span class="btn btn-lg fa fa-book" id="click4info"> I want to know more!</span></a>
        </div>
      </div>

      <div class="row" id="more">
	{{ more }}
      </div>

      <div class="row" id="feedback">
        <!-- slider -->
      </div>
    </section>
  </div>

  <!-- script that handles the animations -->
  <script src="{% static "js/ux.js" %}" type="text/javascript"></script>
  <script src="{% static "js/lightbox.js" %}"></script>

</body>


</html>
